<section class="auth">
    <div class="container">
        <div class="breadcrumbb mt-5">
            <h1 class="breadcrumb_title">
                <span class="depth1"><a href="#">product</a></span>
            </h1>
            <div class="breadcrumb text-center justify-content-center">
                <a class="home" href="#" title="Return to Home">Home</a>
                <span class="navigation-pipe"></span>
                <span class="depth1"><a href="#">product</a></span>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-3">

                <div id="layered_block_left my-3" class="block">


                    <h3 class="title_block"><span>Filter</span> By </h3>
                    <div id="category_blog_block_left" class="block blogModule boxPlain mt-2">
                        <h3 class="title_block">category</h3>
                        <div class="block_content layer1 list-block" style="">
                            <ul class="list-link">
                                <li>
                                    <a href="#"> Furniture</a>
                                </li>
                                <li>
                                    <a href="#"> Fashion</a>
                                </li>
                                <li>
                                    <a href="#"> Computer</a>
                                </li>
                                <li>
                                    <a href="#"> Comestic</a>
                                </li>
                                <li>
                                    <a href="#"> Perfume</a>
                                </li>
                                <li>
                                    <a href="#"> Shoes</a>
                                </li>
                                <li>
                                    <a href="#"> Sport Shop</a>
                                </li>
                                <li>
                                    <a href="#"> Food</a>
                                </li>
                                <li>
                                    <a href="#"> Music</a>
                                </li>
                                <li>
                                    <a href="#"> Accessories</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div id="CMANUFACTURER_blog_block_left" class="block blogModule boxPlain mt-2">
                        <h3 class="title_block">CMANUFACTURER</h3>

                        <div class="block_content layer2 list-block" style="">
                            <ul class="list-link">
                                <li>
                                    <a href="#"> G Plan</a>
                                </li>
                                <li>
                                    <a href="#"> Parker Knoll</a>
                                </li>
                                <li>
                                    <a href="#"> Puma</a>

                            </ul>
                        </div>
                    </div>
                    <div id="size_blog_block_left" class="block blogModule boxPlain mt-2">
                        <h3 class="title_block">size</h3>

                        <div class="block_content layer2 list-block" style="">
                            <ul class="list-link">
                                <li>
                                    <a href="#"> xl</a>
                                </li>
                                <li>
                                    <a href="#"> xxl</a>
                                </li>
                                <li>
                                    <a href="#"> xxxl</a>

                            </ul>
                        </div>





                    </div>
                    <div id="color_blog_block_left" class="block blogModule boxPlain mt-2">
                        <h3 class="title_block">color</h3>

                        <div class="block_content layer2 list-block" style="">
                            <ul class="list-link">
                                <li>
                                    <a href="#">black</a>
                                </li>
                                <li>
                                    <a href="#"> red</a>
                                </li>
                                <li>
                                    <a href="#"> green</a>

                            </ul>
                        </div>





                    </div>
                    <div id="tags_block_left" class="block tags_block mt-2">
                        <h3 class="title_block">
                            POPULAR TAGS
                        </h3>
                        <div class="block_content row" style="">
                            <div class="col-md-4">
                                <a class="tag_level3 first_item" href="#" title="More about Images">
                                    Images
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a class="tag_level3 item" href="#" title="More about Regular">
                                    Regular
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a class="tag_level3 item" href="#" title="More about Fashion">
                                    Fashion
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a class="tag_level1 item" href="#" title="More about Rich snippets">
                                    Rich snippets
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a class="tag_level1 item" href="#" title="More about topshop">
                                    topshop
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a class="tag_level1 item" href="#" title="More about Tracemis">
                                    Tracemis
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a class="tag_level1 item" href="#" title="More about magentech">
                                    magentech
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a class="tag_level1 last_item" href="#" title="More about shop">
                                    shop
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



            <div class="col-md-9 my-5">
                <div class="content_sortPagiBar_top">
                    <div class="category-view-type hidden-xs">
                        <div id="grid" class="category-view-type-selector selected">
                            <a rel="nofollow" title="Grid" (click)="onclick()">
                                <span class="icon">
                                    <span class="i1"></span>
                                    <span class="i2"></span>
                                    <span class="i3"></span>
                                    <span class="i4"></span>
                                </span>
                            </a>
                        </div>
                        <div id="list" class="category-view-type-selector">
                            <a rel="nofollow"  title="List" (click)="onclick1()">
                                <span class="icon">
                                    <span class="i1"></span>
                                    <span class="i2"></span>
                                    <span class="i3"></span>
                                </span>
                            </a>
                        </div>
                    </div>




                    <form id="productsSortForm" class="productsSortForm ">

                        <div class="select selector1">
                            <!--<label for="selectProductSort">Sort by</label>-->
                            <div class="selector" id="uniform-selectProductSort" style="width: 146px;"><span
                                    style="width: 146px; user-select: none;">Product Name: A to Z</span><select
                                    id="selectProductSort" class="selectProductSort form-control">
                                    <option value="name:asc">Product Name: A to Z</option>
                                    <option value="name:desc">Product Name: Z to A</option>
                                    <option value="price:asc">Lowest Price</option>
                                    <option value="price:desc">Highest Price</option>

                                    <option value="quantity:desc">Product In Stock</option>

                                    <option value="reference:asc">Lowest Reference</option>
                                    <option value="reference:desc">Highest Reference</option>
                                </select></div>
                        </div>
                    </form>
                    <!-- /Sort products -->


                    <div class="line"></div>
                    <!-- nbr product/page -->
                    <!-- /nbr product/page -->




                    <!-- Pagination -->
                    <!-- /Pagination -->

                </div>

                <div *ngIf="condition; else elseBlock" class="clear-flex">
                <div class="row">
                    <div class="col-md-4">
                            <div class="ltabs-item">
                                    <div class="product-container" itemscope=""
                                        itemtype="#">
                                        <div class="left-block">
                                            <div class="product-image-container">
                                                <div class="product-image">
                                                    <a class="product_img_link" href="#"
                                                        title="Landjaeger Kroident">
                                                        <img class="img_1"
                                                            src="http://prestashop.flytheme.net/sp_himarket/245-home_default/faded-short-sleeves-tshirt.jpg"
                                                            alt="Landjaeger Kroident" />
                                                    </a>
                                                </div>
                                                <div class="label-box">
                                                    <span class="new-box">New</span>
                                                </div>
                                                <div class="button-container">
                                                    <a class="addToWishlist wishlistProd_41"
                                                        title="Add to wishlist" href="#">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>

                                                    <a class="add_to_compare" href="#"
                                                        data-tooltip-remove="Remove from compare"
                                                        title="Add to compare"
                                                        data-id-product="41">
                                                        <i class="fa fa-clone"></i>
                                                    </a>
                                                    <a class="quick-view" href="#"
                                                        title="Quick view" data-rel="#">
                                                        <i class="fa fa-search"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="right-block">
                                            <h5 itemprop="name" class="product-name">
                                                <a href="#" title="Landjaeger Kroident">
                                                    Landjaeger Kroident
                                                </a>
                                            </h5>

                                            <div itemprop="offers" itemscope=""
                                                itemtype="http://schema.org/Offer"
                                                class="price-box">
                                                <span itemprop="price"
                                                    class="price product-price">
                                                    987,95 $
                                                </span>
                                                <meta itemprop="priceCurrency"
                                                    content="ARS" />
                                            </div>
                                            <div class="button-container">
                                                <a class="cart_button ajax_add_to_cart_button"
                                                    href="#" rel="nofollow"
                                                    title="Add to cart"
                                                    data-id-product="41">
                                                    <i class="fa fa-shopping-cart"></i>
                                                    <span>Add to cart</span>
                                                </a>


                                            </div>
                                        </div>
                                    </div>
                                </div>

                    </div>
                </div>
 

                </div>
                <ng-template #elseBlock>

                <p>ana hanan</p>

                </ng-template>


            </div>

        </div>



    </div>
</section>