<section class="FAQ">
  <div class="container">
    <div class="breadcrumbb mt-5">
      <h1 class="breadcrumb_title">
        <span class="depth1"><a href="#">FAQ</a></span>
      </h1>
      <div class="breadcrumb text-center justify-content-center">
        <a class="home" href="#" title="Return to Home">Home</a>
        <span class="navigation-pipe"></span>
        <span class="depth1"><a href="#">FAQ</a></span>
      </div>
    </div>
    <div>
      <div class="row my-3">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" href="#collapseOne"
                  >Ask a Question 01</a
                >
              </h4>
            </div>
            <div
              id="collapseOne"
              class="panel-collapse collapse"
              style="height: 0px;"
            >
              <div class="panel-body">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                quae ab illo inventore veritatis et quasi architecto beatae
                vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                voluptas sit aspernatur aut odit aut fugit, sed quia
                consequuntur magni dolores eos qui ratione voluptatem sequi
                nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
                sit amet, consectetur, adipisci velit, sed quia non numquam eius
                modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                voluptatem.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" href="#collapseTwo"
                  >Ask a Question 02</a
                >
              </h4>
            </div>
            <div
              id="collapseTwo"
              class="panel-collapse collapse"
              style="height: 0px;"
            >
              <div class="panel-body">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                quae ab illo inventore veritatis et quasi architecto beatae
                vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                voluptas sit aspernatur aut odit aut fugit, sed quia
                consequuntur magni dolores eos qui ratione voluptatem sequi
                nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
                sit amet, consectetur, adipisci velit, sed quia non numquam eius
                modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                voluptatem.
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a
                  class="collapsed"
                  data-toggle="collapse"
                  href="#collapsethree"
                  >Ask a Question 03</a
                >
              </h4>
            </div>
            <div
              id="collapsethree"
              class="panel-collapse collapse"
              style="height: 0px;"
            >
              <div class="panel-body">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                quae ab illo inventore veritatis et quasi architecto beatae
                vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                voluptas sit aspernatur aut odit aut fugit, sed quia
                consequuntur magni dolores eos qui ratione voluptatem sequi
                nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
                sit amet, consectetur, adipisci velit, sed quia non numquam eius
                modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                voluptatem.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" href="#collapsefour"
                  >Ask a Question 04</a
                >
              </h4>
            </div>
            <div
              id="collapsefour"
              class="panel-collapse collapse"
              style="height: 0px;"
            >
              <div class="panel-body">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                quae ab illo inventore veritatis et quasi architecto beatae
                vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                voluptas sit aspernatur aut odit aut fugit, sed quia
                consequuntur magni dolores eos qui ratione voluptatem sequi
                nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
                sit amet, consectetur, adipisci velit, sed quia non numquam eius
                modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                voluptatem.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
