<footer id="footer" class="footer-container footer-v5" *ngIf="this._CheckHeaderFooterService.visible">
  <div class="container">
    <div class="row footer-content">
      <div class="col-md-4">
        <div id="block_contact_infos" class="contact-infos box-footer">
          <div class="title-box">Contact us</div>
          <ul class="list-contact">
            <li class="address">
              <span class="icon"><i class="fa fa-home"></i></span>
              <span
                ><label>Address:</label> 1702 Los Angeles, California,
                American.</span
              >
            </li>
            <li class="email">
              <span class="icon"><i class="fa fa-send"></i></span>
              <span
                ><label>Email:</label> <a href="#">contact@market.com</a></span
              >
            </li>
            <li class="phone">
              <span class="icon"><i class="fa fa-phone"></i></span>
              <span><label>Phone:</label> 0123-456-789</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="first footerLink ">
          <div class="footer-links">
            <div class="title-box">About Market</div>
            <ul class="links">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Market Reviews</a></li>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Site Map</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 pl-3">
        <div class="second footer-links">
          <div class="footer-links">
            <div class="title-box">Customer Service</div>
            <ul class="links">
              <li><a href="#">Shipping Policy</a></li>
              <li><a href="#">Compensation First</a></li>
              <li><a href="#">My Account</a></li>
              <li><a href="#">Return Policy</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-links">
          <div class="title-box">Payment &amp; Shipping</div>
          <ul class="links">
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Payment Methods</a></li>
            <li><a href="#">Shipping Guide</a></li>
            <li><a href="#">Locations We Ship To</a></li>
            <li><a href="#">Estimated Delivery Time</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
