<section class="blog">
    <div class="container">
        <div class="row">
            <div id="sidebar" class="col-md-3 my-2">
                <div id="category_blog_block_left" class="block blogModule boxPlain">
                    <h3 class="title_block">Categories</h3>
                    <div class="block_content list-block" style="">
                        <ul class="list-link">
                            <li>
                                <a href="#"> Furniture</a>
                            </li>
                            <li>
                                <a href="#"> Fashion</a>
                            </li>
                            <li>
                                <a href="#"> Computer</a>
                            </li>
                            <li>
                                <a href="#"> Comestic</a>
                            </li>
                            <li>
                                <a href="#"> Perfume</a>
                            </li>
                            <li>
                                <a href="#"> Shoes</a>
                            </li>
                            <li>
                                <a href="#"> Sport Shop</a>
                            </li>
                            <li>
                                <a href="#"> Food</a>
                            </li>
                            <li>
                                <a href="#"> Music</a>
                            </li>
                            <li>
                                <a href="#"> Accessories</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="tags_block_left" class="block tags_block">
                    <h3 class="title_block">
                        POPULAR TAGS
                    </h3>
                    <div class="block_content row" style="">
                        <div class="col-md-4">
                            <a class="tag_level3 first_item" href="#" title="More about Images">
                                Images
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="tag_level3 item" href="#" title="More about Regular">
                                Regular
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="tag_level3 item" href="#" title="More about Fashion">
                                Fashion
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a class="tag_level1 item" href="#" title="More about Rich snippets">
                                Rich snippets
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a class="tag_level1 item" href="#" title="More about topshop">
                                topshop
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="tag_level1 item" href="#" title="More about Tracemis">
                                Tracemis
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="tag_level1 item" href="#" title="More about magentech">
                                magentech
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="tag_level1 last_item" href="#" title="More about shop">
                                shop
                            </a>
                        </div>
                    </div>
                </div>
                <div id="recent_article_smart_blog_block_left" class="block blogModule boxPlain">
                    <h3 class="title_block">Recent posts</h3>
                    <div class="block_content" style="">
                        <ul class="recentArticles">
                            <li class="col-xs-12 row">
                                <a class="image" title="Filet mignon laborum" href="#">
                                    <img alt="Filet mignon laborum" src="../../../assets/3-home-default.jpg">
                                </a>
                                <div class="custom-info">
                                    <a class="title" title="Filet mignon laborum" href="#">Filet mignon laborum</a>
                                    <span class="date" itemprop="dateCreated">October 26, 2015</span>
                                    <!--<span class="info">Oct 26, 2015</span>-->
                                </div>

                            </li>
                            <li class="col-xs-12 row">
                                <a class="image" title="Atback minim tempor" href="#">
                                    <img alt="Atback minim tempor" src="../../../assets/3-home-default.jpg">
                                </a>
                                <div class="custom-info">
                                    <a class="title" title="Atback minim tempor" href="#l">Atback minim tempor</a>
                                    <span class="date" itemprop="dateCreated">October 26, 2015</span>
                                    <!--<span class="info">Oct 26, 2015</span>-->
                                </div>

                            </li>
                            <li class="col-xs-12 row">
                                <a class="image" title="Capicola sausage" href="#">
                                    <img alt="Capicola sausage" src="../../../assets/3-home-default.jpg">
                                </a>
                                <div class="custom-info">
                                    <a class="title" title="Capicola sausage" href="#">Capicola sausage</a>
                                    <span class="date" itemprop="dateCreated">October 26, 2015</span>
                                    <!--<span class="info">Oct 26, 2015</span>-->
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 my-3">
                <div class="sdsarticleCat clearfix">
                    <div id="smartblogpost-4">
                        <div class="articleWrap d-flex">
                            <div class="articleImage">
                                <a title="Proin ut ligula vel" class="imageFeaturedLink" href="#">

                                    <img alt="Proin ut ligula vel" src="../../../assets/3-home-default.jpg"
                                        class="imageFeatured">
                                </a>
                            </div>
                            <div class="articleContent">
                                <div class="articleDate">
                                    <span class="articleDay">24</span>
                                    <span>/</span>
                                    <span class="articleMonth">August 2015</span>
                                </div>
                                <div class="articleHeader">

                                    <div class="articleTitle"><a title="Proin ut ligula vel" href="#">Proin ut ligula
                                            vel</a></div>
                                </div>
                                <div class="articleDesc">
                                    Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet. Vestibulum
                                    sapien. Proin quam. Etiam ultrices. Suspendisse in justo eu magna luctus suscipit.
                                    Sed lectus. Integer euismod lacus luctus magna. Quisque
                                </div>
                                <div class="articleMeta d-flex">
                                    <div class="postMetaComment">
                                        <a title="0 Comments" href="#">
                                            0
                                            <i class="fa fa-comments"></i>
                                        </a>
                                    </div>
                                    <div class="postMetaReadmore justify-content-end">
                                        <a href="#l">View More <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
</section>